/**************
Cent Sensor on Circ Token
**************
{

**** Example  width 3 height 2:
**Superposed 3 classes independent of each other -- each incoming msg goes to 
* each of 1a 1b and 1c
*   1a   1b   1c 
*   |     |    |
*   V     V    V  
*   2a   2b   2c     

*** Set Width height***
width 1
height 2


**** Class Display Name ***

classDisplayName Dist Sensor on Circ Token Algorithm

startClass 1 1
className SensorCircToken
numberOfMethods 1
numberOfFields 1

****Methods******

method 1 initiate
**method 2 requestCS
**method 3 releaseCS
       

******Fields*****
field 1 coordinator



****Node Color Info*****
colorMethod newOkayCS
*** Color Method return type - Boolean Integer *****
colorType Boolean 

*Linker Info *

linkerName VCLinker




startClass 1 2
className DistSensor
numberOfMethods 1

numberOfFields 1

****Methods ( must be public)******

method 1 run

******Fields (Have to be public and toString must be supported)*****
field 1 red


****Node Color Info ( To get node coloring info)*****
colorMethod newOkayCS
*** Color Method return type - Boolean Integer *****
colorType Boolean 

*Linker Info *

linkerName VCLinker

}

***** End ********/

 
